<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="display: flex;justify-content: center">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Update Passenger Item Delivery</span>
  </div>

  <div style="display: flex;margin-top: 50px">
    <div style="width: 50%;padding-right: 20px">
      <form #deliveryForm="ngForm" (ngSubmit)="deliveryForm.form.valid && onSubmit()" novalidate>
        <div class="row">
          <div class="col-4">
            Delivery Person Name :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.deliveryPersonName"
                   #deliveryPersonName="ngModel"
                   name="deliveryPersonName" required appTextValidator>
            <div *ngIf="(deliveryPersonName.touched || deliveryForm.submitted) && deliveryPersonName.errors?.required"
                 class="validErr">
              Delivery Person Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Person NIC :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.deliveryPersonNic"
                   #deliveryPersonNic="ngModel"
                   name="deliveryPersonNic" required appNicValidator>
            <div *ngIf="(deliveryPersonNic.touched || deliveryForm.submitted) && deliveryPersonNic.errors?.required"
                 class="validErr">
              Delivery Person NIC is required
            </div>
            <div *ngIf="(deliveryPersonNic.dirty) && deliveryPersonNic.errors?.nicInvalid"
                 class="validErr">
              Invalid NIC
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Contact Number :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.contactNumber"
                   #contactNumber="ngModel"
                   name="contactNumber" required appTelephoneValidator
                   placeholder="Eg: [ 123-1234567 ]">
            <div *ngIf="(contactNumber.touched || deliveryForm.submitted) && contactNumber.errors?.required"
                 class="validErr">
              Contact Number is required
            </div>
            <div *ngIf="(contactNumber.dirty) && contactNumber.errors?.telephoneInvalid"
                 class="validErr">
              Invalid Contact Number
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Vehicle Number (Opt.) :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.vehicleNumber"
                   #vehicleNumber="ngModel"
                   name="vehicleNumber" appVehicleNumberValidator
                   placeholder="Eg: [ 12-1234 / 123-1234 / AB-1234 / ABC 1234 ]">
            <div *ngIf="(vehicleNumber.dirty) && vehicleNumber.errors?.vehicleNumberInvalid"
                 class="validErr">
              Invalid Vehicle Number
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Email Address (Opt.) :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.emailAddress"
                   #emailAddress="ngModel"
                   name="emailAddress" appEmailValidator>
            <div *ngIf="(emailAddress.dirty) && emailAddress.errors?.emailInvalid"
                 class="validErr">
              Invalid Email Address
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Address :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.address"
                   #address="ngModel"
                   name="address" required>
            <div *ngIf="(address.touched || deliveryForm.submitted) && address.errors?.required"
                 class="validErr">
              Address is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Company Name :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="deliveryDetail.companyName"
                   #companyName="ngModel"
                   name="companyName" required>
            <div *ngIf="(companyName.touched || deliveryForm.submitted) && companyName.errors?.required"
                 class="validErr">
              Company Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Date :
          </div>
          <div class="col-8">
            <input type="date" class="form-control"
                   [(ngModel)]="deliveryDetail.deliveryDate"
                   #deliveryDate="ngModel"
                   min="{{getMinDate()}}"
                   name="deliveryDate" required>
            <div *ngIf="(deliveryDate.touched || deliveryForm.submitted) && deliveryDate.errors?.required"
                 class="validErr">
              Delivery Date is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Delivery Time :
          </div>
          <div class="col-8">
            <input type="time" class="form-control"
                   [(ngModel)]="deliveryDetail.deliveryTimeActual"
                   #deliveryTime="ngModel"
                   name="deliveryTime" required>
            <div *ngIf="(deliveryTime.touched || deliveryForm.submitted) && deliveryTime.errors?.required"
                 class="validErr">
              Delivery Time is required
            </div>
          </div>
        </div>
        <div class=""
             style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
          <div class="col-12" style="text-align: right">
            <button type="submit" class="btn btn-success" style="font-weight: bold">Update Delivery
            </button>
          </div>
        </div>
      </form>
    </div>

    <div style="width: 50%;padding-left: 20px;border-left: 1px solid #dfcda0">

      <form #passengerForm="ngForm" (ngSubmit)="passengerForm.form.valid && onSubmitPassenger()" novalidate>
        <div class="row">
          <div class="col-3">
            Passenger Name :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="passenger.passengerName"
                   #passengerName="ngModel"
                   name="passengerName" required appTextValidator>
            <div *ngIf="(passengerName.touched || passengerForm.submitted) && passengerName.errors?.required"
                 class="validErr">
              Passenger Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Passenger NIC :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="passenger.passengerNic"
                   #passengerNic="ngModel"
                   name="passengerNic" appNicValidator>
            <!--<div *ngIf="(passengerNic.touched || passengerForm.submitted) && passengerNic.errors?.required"-->
                 <!--class="validErr">-->
              <!--Passenger NIC is required-->
            <!--</div>-->
            <div *ngIf="(passengerNic.dirty) && passengerNic.errors?.nicInvalid"
                 class="validErr">
              Invalid NIC
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Contact Number :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="passenger.contactNumber"
                   #contactNumberP="ngModel"
                   name="contactNumberP" appTelephoneValidator
                   placeholder="Eg: [ 123-1234567 ]">
            <!--<div *ngIf="(contactNumberP.touched || passengerForm.submitted) && contactNumberP.errors?.required"-->
                 <!--class="validErr">-->
              <!--Contact Number is required-->
            <!--</div>-->
            <div *ngIf="(contactNumberP.dirty) && contactNumberP.errors?.telephoneInvalid"
                 class="validErr">
              Invalid Contact Number
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Passenger Type :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="passenger.passengerType"
                   #passengerType="ngModel"
                   name="passengerType" required appTextValidator>
            <div *ngIf="(passengerType.touched || passengerForm.submitted) && passengerType.errors?.required"
                 class="validErr">
              Passenger Type is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-12" style="text-align: center">
            <button type="submit" class="btn btn-warning" style="font-weight: bold;margin-right: 20px">
              {{btnTextPassenger}} Passenger
            </button>
            <button type="button" class="btn btn-warning" style="font-weight: bold;margin-left: 20px"
                    (click)="setNewPassenger()">New Passenger
            </button>
          </div>
        </div>
      </form>

      <form style="margin-top: 20px;padding-top: 20px;border-top: 1px solid #dfcda0" #itemForm="ngForm"
            (ngSubmit)="itemForm.form.valid && onSubmitItem()" novalidate>
        <div class="row">
          <div class="col-3">
            Item Name :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="item.itemName"
                   #itemName="ngModel"
                   name="itemName" required>
            <div *ngIf="(itemName.touched || itemForm.submitted) && itemName.errors?.required"
                 class="validErr">
              Item Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Item Type :
          </div>
          <div class="col-9">
            <input type="text" class="form-control"
                   [(ngModel)]="item.itemType"
                   #itemType="ngModel"
                   name="itemType" required appTextValidator>
            <div *ngIf="(itemType.touched || itemForm.submitted) && itemType.errors?.required"
                 class="validErr">
              Item Type is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-3">
            Item Qty :
          </div>
          <div class="col-9">
            <input type="number" class="form-control"
                   [(ngModel)]="item.itemQty"
                   #itemQty="ngModel"
                   name="itemQty" required min="1">
            <div *ngIf="(itemQty.touched || itemForm.submitted) && itemQty.errors?.required"
                 class="validErr">
              Item Qty is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-12" style="text-align: center">
            <button type="submit" class="btn btn-warning" style="font-weight: bold;margin-right: 20px">{{btnTextItem}}
              Item
            </button>
            <button type="button" class="btn btn-warning" style="font-weight: bold;margin-left: 20px"
                    (click)="setNewItem()">New Item
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div style="border-top: 1px solid #dfcda0;display: flex;margin-top: 20px;padding-top: 20px">

    <div style="width: 100%">

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" width="3%">#</th>
          <th scope="col">Passenger Name</th>
          <th scope="col">Passenger NIC</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Passenger Type</th>
          <th scope="col" width="5%" style="text-align: center">Update</th>
          <th scope="col" width="5%" style="text-align: center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let passenger of deliveryDetail.deliveryPassengerDetails; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{passenger.passengerName}}</td>
          <td>{{passenger.passengerNic}}</td>
          <td>{{passenger.contactNumber}}</td>
          <td>{{passenger.passengerType}}</td>
          <td style="text-align: center">
            <i class="fas fa-search" style="font-size: 16px" (click)="setPassenger(passenger,i)"></i>
          </td>
          <td style="text-align: center" (click)="removePassenger(passenger.passengerDetailId,i)">
            <i class="fas fa-times" style="color: red;font-size: 20px"></i>
          </td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="deliveryDetail.deliveryPassengerDetails.length===0" class="validErr"
           style="text-align: center;font-size: 20px">
        No passengers available
      </div>

    </div>
  </div>

  <div style="border-top: 0px solid #dfcda0;display: flex;margin-top: 20px;padding-top: 20px">

    <div style="width: 100%">

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" width="3%">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Item Type</th>
          <th scope="col" width="6%">Quantity</th>
          <th scope="col" width="5%" style="text-align: center">Update</th>
          <th scope="col" width="5%" style="text-align: center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of deliveryDetail.deliveryItemDetails; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.itemName}}</td>
          <td>{{item.itemType}}</td>
          <td>{{item.itemQty}}</td>
          <td style="text-align: center">
            <i class="fas fa-search" style="font-size: 16px" (click)="setItem(item, i)"></i>
          </td>
          <td style="text-align: center" (click)="removeItem(item.itemDetailId,i)">
            <i class="fas fa-times" style="color: red;font-size: 20px"></i>
          </td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="deliveryDetail.deliveryItemDetails.length===0" class="validErr"
           style="text-align: center;font-size: 20px">
        No items available
      </div>

    </div>
  </div>

  <div class="" *ngIf="deliveryDetail.status===2"
       style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
    <div class="col-12" style="text-align: right">
      <button type="button" class="btn btn-danger" style="font-weight: bold;font-size: 20px" (click)="removeDelivery()">
        Delete Delivery
      </button>
    </div>
  </div>
</div>
