<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="display: flex;justify-content: center">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Add Maintenance Details</span>
  </div>

  <form #maintenanceDetailsForm="ngForm" (ngSubmit)="maintenanceDetailsForm.form.valid && addMaintenance()" novalidate>

    <div style="display: flex;margin-top: 50px">
      <div style="width: 50%;padding-right: 20px">
        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Vehicle ID:
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="maintenanceDetail.vehicle.vehicleId"
                   #vehicleID="ngModel"
                   name="vehicleID" required appVehicleNumberValidator
                   placeholder="Eg: [ 12-1234 / 123-1234 / AB-1234 / ABC 1234 ]">
            <div *ngIf="(vehicleID.touched || maintenanceDetailsForm.submitted) && vehicleID.errors?.required"
                 class="validErr">
              Vehicle ID is required
            </div>
            <div *ngIf="(vehicleID.dirty) && vehicleID.errors?.vehicleNumberInvalid"
                 class="validErr">
              Invalid Vehicle ID
            </div>
            <div class="validErr" *ngIf="vehicleIsPresent===2" style="color: red">
              Vehicle cannot be found
            </div>
            <div class="validErr" *ngIf="vehicleIsPresent===1" style="color: green">
              Vehicle is present
            </div>
          </div>
        </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-4">
        Maintenance Type:
      </div>
      <div class="col-8">
        <input type="text" class="form-control"
               [(ngModel)]="maintenanceDetail.maintenanceType"
               #maintenanceType="ngModel"
               name="maintenanceType" required>
        <div *ngIf="(maintenanceType.touched || maintenanceDetailsForm.submitted) && maintenanceType.errors?.required"
             class="validErr">
          Maintenance type is required
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Maintenance Date :
          </div>
          <div class="col-8">
            <input type="date" class="form-control"
                   [(ngModel)]="maintenanceDetail.maintenanceDate"
                   #maintenanceDate="ngModel"
                   min="{{getMinDate()}}"
                   name="maintenanceDate" required>
            <div *ngIf="(maintenanceDate.touched || maintenanceDetailsForm.submitted) && maintenanceDate.errors?.required"
                 class="validErr">
              Maintenance Date is required
            </div>
          </div>
        </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-4">
        Company Name:
      </div>
      <div class="col-8">
        <input type="text" class="form-control"
               [(ngModel)]="maintenanceDetail.companyName"
               #companyName="ngModel"
               name="companyName" required>
        <div *ngIf="(companyName.touched || maintenanceDetailsForm.submitted) && companyName.errors?.required"
             class="validErr">
          Company name is required
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 10px">
      <div class="col-4">
            Vehicle Availability :
          </div>
          <div class="col-8">
            <select
              class="form-control"
              [(ngModel)]="maintenanceDetail.maintenanceStatus"
              #maintenanceStatus="ngModel"
              name="maintenanceStatus" required>
              <option value="">Select Availability</option>
              <option value="true">Available</option>
              <option value="false">Not Available</option>
            </select>
            <div *ngIf="(maintenanceStatus.touched || maintenanceDetailsForm.submitted) && maintenanceStatus.errors?.required"
                 class="validErr">
            </div>
          </div>
    </div>

        <div class=""
             style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px;">
          <div class="col-12" style="text-align: right">
<!--            <button [disabled]="vehicleIsPresent!==1 //driverIsPresent!==1" type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Add Details</button>-->
            <button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Add Details</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
