<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Add VIP Booking</span>
  </div>
</div>

<div class="row" style="display: flex;justify-content: center;margin-top: 0px">
  <div class="col-11" style="margin-top: 20px">

    <div style="margin-top: 20px">
      <span style="font-weight: bold;margin-left: 0px">Search by Vip Member ID : </span>
      <input type="text" style="margin-left: 20px;width: 300px;height: 37px" [(ngModel)]="vipMemberId">
      <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getVipMember()">
        Search
      </button>

      <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllVipMembers()">
        All vip members
      </button>
    </div>

    <table class="table table-striped" style="margin-top: 40px">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vip Member ID</th>
        <th scope="col">Vip Member Name</th>
        <th scope="col">Position</th>
        <th scope="col" width="5%" style="text-align: center">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vipMember of vipMembers; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{vipMember.vipMemberId}}</td>
        <td>{{vipMember.firstName}}</td>
        <td>{{vipMember.position}}</td>

        <td>
          <i class="fas fa-pen" style="cursor: pointer" (click)="selectVipMember(vipMember)"></i>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row" style="display: flex;justify-content: center;margin-top: 50px">

  <form #vipBookingForm="ngForm" (ngSubmit)="vipBookingForm.form.valid && onSubmit()" novalidate>

    <div style="display: flex;margin-top: 50px">
      <div style="width: 50%;padding-right: 20px">

        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Shift ID :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input class="form-control" type="text" readonly [value]="shift.shiftId">
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Shift Date :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input class="form-control" type="text" readonly [value]="shift.shiftDate">
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Starting Time :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input class="form-control" type="text" readonly [value]="shift.startingTimeActual">
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Ending Time :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input class="form-control" type="text" readonly [value]="shift.endingTimeActual">
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Vip Member ID :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="text" class="form-control"
                   [(ngModel)]="vipBooking.vipMember.vipMemberId"
                   #vipMemberIds="ngModel"
                   name="vipMemberId" required readonly>
            <div *ngIf="(vipMemberIds.touched || vipBookingForm.submitted) && vipMemberIds.errors?.required"
                 class="validErr">
              Vip Member ID is required
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Booking Date / Time :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="datetime-local" class="form-control"
                   [(ngModel)]="vipBooking.booking.bookingDateTime"
                   #bookingDateTime="ngModel"
                   min="{{getMinDate()}}"
                   name="bookingDateTime" required>
            <div *ngIf="(bookingDateTime.touched || vipBookingForm.submitted) && bookingDateTime.errors?.required"
                 class="validErr">
              Booking Date is required
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 20px">
          <div class="col-5">
            Booking Status :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <label>
              <input name="bookingStatus" type="radio" [value]="true" [(ngModel)]="vipBooking.booking.bookingStatus">
              <span style="font-size: 16px"> Active</span>
            </label>
            <label style="margin-left: 40px">
              <input name="bookingStatus" type="radio" [value]="false" [(ngModel)]="vipBooking.booking.bookingStatus">
              <span style="font-size: 16px"> Inactive</span>
            </label>
          </div>

        </div>


        <div class="row" style="margin-top: 20px">
          <div class="col-5">
            Destination :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="text" class="form-control"
                   [(ngModel)]="vipBooking.booking.destination"
                   #destination="ngModel"
                   name="destination" appTextValidator>
            <div *ngIf="(destination.touched || vipBookingForm.submitted) && destination.errors?.required"
                 class="validErr">
              Destination is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-5">
            Purpose :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="text" class="form-control"
                   [(ngModel)]="vipBooking.purpose"
                   #purpose="ngModel"
                   name="description" required appTextValidator>
            <div *ngIf="(purpose.touched || vipBookingForm.submitted) && purpose.errors?.required"
                 class="validErr">
              Description is required
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            Time Period :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="date" class="form-control"
                   [(ngModel)]="vipBooking.timePeriod"
                   #timePeriod="ngModel"
                   min="{{getMinimumDate()}}"
                   name="timePeriod" required>
            <div *ngIf="(timePeriod.touched || vipBookingForm.submitted) && timePeriod.errors?.required"
                 class="validErr">
              Time Period is required
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 20px">
          <div class="col-5">
            Approved Fuel Amount:
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <input type="number" class="form-control" min="0"
                   [(ngModel)]="vipBooking.approvedFuelAmount"
                   (focusout)="vipBooking.approvedFuelAmount = setNumberPositive(vipBooking.approvedFuelAmount)"
                   #approvedFuelAmount="ngModel"
                   name="approvedFuelAmount" required>
            <div *ngIf="(approvedFuelAmount.touched || vipBookingForm.submitted) && approvedFuelAmount.errors?.required"
                 class="validErr">
              Approved Fuel Amount is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-5">
            Approval :
          </div>
          <div class="col-8" style="margin-left: 250px; margin-top: -20px;">
            <label>
              <input name="approval" type="radio" [value]="true" [(ngModel)]="vipBooking.approval">
              <span style="font-size: 16px"> Approve</span>
            </label>
            <label style="margin-left: 40px">
              <input name="approval" type="radio" [value]="false" [(ngModel)]="vipBooking.approval">
              <span style="font-size: 16px"> Disapprove</span>
            </label>
          </div>

        </div>
      </div>
    </div>


    <div class=""
         style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
      <div class="col-12" style="text-align: right">
        <button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Add VIP Booking</button>
      </div>
    </div>


  </form>
</div>





