<div class="row" style="display: flex;justify-content: center">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Transport Requests</span>
  </div>
  <div class="col-11" style="margin-top: 40px">
    <span style="font-weight: bold;margin-left: 50px">Search by ApplicationID : </span>
    <input type="text" style="margin-left: 20px;width: 300px;height: 37px" [(ngModel)]="applicationID">
    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getTransportByID()">
      Search
    </button>

    <button class="btn btn-warning" style="font-weight: bold;margin-left: 20px" (click)="getAllTransportRequests()">
      All Transport Requests
    </button>

    <br>
    <br>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Application ID</th>
        <!--        <th scope="col">Passenger ID</th>-->
        <th scope="col">Destination</th>
        <th scope="col">Vehicle Type</th>
        <!--        <th scope="col">Approval</th>-->
        <th scope="col">Depature Date</th>
        <th scope="col">Arricval Date</th>
        <th scope="col" style="text-align: center">No of Passengers</th>
        <th scope="col">Reason</th>
        <th scope="col" width="5%" style="text-align: center">Type</th>
        <!--        <th scope="col" width="5%" style="text-align: center">View</th>-->
        <th scope="col" width="10%" style="text-align: center">Approval</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transport of transportDetails; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{transport.applicationID}}</td>
        <!--        <td>{{deliveryItem.passengerId}}</td>-->
        <td>{{transport.destination}}</td>
        <td>{{transport.vehicleType}}</td>
        <!--        <td>{{deliveryItem.approval}}</td>-->
        <td>{{transport.depatureDate}}</td>
        <td>{{transport.arrivaleDate}}</td>
        <td>{{transport.passengerApplication.noOfPassengers}}</td>
        <td>{{transport.reason}}</td>
        <td style="text-align: center">
          <i *ngIf="transport.type=='P'||transport.type=='IP'" class="fas fa-user"></i>
          <i *ngIf="transport.type=='I'||transport.type=='IP'" class="fas fa-truck" style="padding-left: 10px"></i>
          <i *ngIf="transport.type==null" class="fas fa-spinner" style="padding-left: 10px"></i>
        </td>
        <!--        <td style="text-align: center">-->
        <!--          <i class="fas fa-search" style="cursor: pointer" (click)="setItem(deliveryItem,i)"></i>-->
        <!--        </td>-->
        <td style="text-align: center" (click)="setTransport(transport)">
          <i class="fas fa-pen" style="cursor: pointer"></i>
        </td>


        <!--        <td style="text-align: center">-->
        <!--          <button type="submit" class="btn btn-success" style="font-weight: bold; margin-right: 20px">Approve</button>-->
        <!--          <button type="submit" class="btn btn-danger" style="font-weight: bold;" > Deny </button>-->
        <!--        </td>-->
      </tr>
      </tbody>
    </table>


  </div>
</div>


<!--<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">-->
<!--  <div (click)="isTrueOrFalse(false)"></div>-->
<!--  <div style="">-->
<!--    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">-->
<!--      <div style="min-width: 1390px;">-->
<!--        <i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalse(false)"></i>-->
<!--      </div>-->

<!--      <div class="">-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">-->
<!--  <div (click)="isTrueOrFalse(false)"></div>-->
<!--  <div style="">-->
<!--    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">-->
<!--      <div style="min-width: 1390px;">-->
<!--        <i class="fas fa-times" style="cursor: pointer;margin-right: 10px" (click)="isTrueOrFalse(false)"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">
  <div (click)="isTrueOrFalse(false)"></div>
  <div style="">
    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">
      <div style="">
        <i class="fas fa-times" style="cursor: pointer;margin-right: 10px" (click)="isTrueOrFalse(false)"></i>
      </div>


      <div class="">
        <div style="font-size: 25px;color: green;font-weight: bold"
             *ngIf="selectedTransport!==undefined?selectedTransport.approval:false">
          This Transport is approved
        </div>
        <div style="font-size: 25px;color: red;font-weight: bold"
             *ngIf="selectedTransport!==undefined?!selectedTransport.approval:false">
          This Transport is not approved
        </div>
        <div style="font-size: 20px;margin-top: 20px">
          Do you want to approve or deny this transport?
        </div>
        <div style="display: flex;justify-content: center">
          <button type="submit" class="btn btn-success" style="font-weight: bold; margin-right: 20px"
                  (click)="approveTransport(true)">Approve
          </button>
          <button type="submit" class="btn btn-danger" style="font-weight: bold;" (click)="approveTransport(false)">
            Deny
          </button>
        </div>

      </div>

    </div>
  </div>
</div>




