
<div style="margin-top: 20px" align="center">
  <span style="font-weight: bold;">Search by Application ID : </span>
  <input type="text" [(ngModel)]="id" style="margin-left: 20px;width: 300px;height: 37px" >
  <button (click)="searchByID(id)" class="btn btn-warning" style="font-weight: bold;margin-left: 20px" >
    Search
  </button>
    <button type="button"  style="padding-left: 20px" (click)="getAllItemForm()"  style="font-weight: bold;background-color: Transparent;border: none; margin-right: 20px"><i class="fas fa-sync"></i>
    </button>
</div>


<div class="row" style="display: flex;justify-content: center">
  <div class="col-11" style="margin-top: 40px">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Application ID</th>
        <th scope="col">Destination</th>
        <th scope="col">Approval</th>
        <th scope="col">Departure Date</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Driver</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col" width="5%" style="text-align: center">Type</th>
        <th scope="col" width="5%" style="text-align: center">View</th>
        <th scope="col" width="5%" style="text-align: center">Update</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deliveryItem of mainarray let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{deliveryItem.applicationID}}</td>
        <td>{{deliveryItem.destination}}</td>
        <td>{{deliveryItem.approval}}</td>
        <td>{{deliveryItem.depatureDate   | date:'short'}}</td>
        <td>{{deliveryItem.arrivaleDate | date:'short'}}</td>
        <td>{{deliveryItem.drivername}}</td>
        <td>{{deliveryItem.vehicleId}}</td>
        <td style="text-align: center">
          <i *ngIf="deliveryItem.type=='P'||deliveryItem.type=='IP'" class="fas fa-user"></i>
          <i *ngIf="deliveryItem.type=='I'||deliveryItem.type=='IP'" class="fas fa-truck" style="padding-left: 10px"></i>
          <i *ngIf="deliveryItem.type==null" class="fas fa-spinner" style="padding-left: 10px"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-search" style="cursor: pointer" (click)="setItem(deliveryItem,i)"></i>
        </td>
        <td style="text-align: center">
          <i class="fas fa-pen" style="cursor: pointer" (click)="goToUpdate(deliveryItem)"></i>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">
  <div (click)="isTrueOrFalse(false)"></div>
  <div style="">
    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">
      <div style="">
        <i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalse(false)"></i>
      </div>

      <div class="">

      </div>

    </div>
  </div>
</div>

<div class="modalTable" [style.visibility]="isModalTable.openTable?'visible':'hidden'">
  <div (click)="isTrueOrFalse(false)"></div>
  <div style="">
    <div style="max-height: calc(100vh - 100px);overflow-y: scroll">
      <div style="">
        <i class="fas fa-times" style="cursor: pointer;margin-right: 10px" (click)="isTrueOrFalse(false)"></i>
      </div>

      <div class="">
        <h1 *ngIf="viewP==true"> Passenger Details</h1>
        <table *ngIf="viewP==true" class="table table-striped" style="margin-top: 20px" >
          <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Coantact Number</th>
            <th scope="col">Email</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let p of passenger.passengerPassengerApplications; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{p.passenger.userAccount.employeeID}}</td>
            <td>{{p.passenger.userAccount.name}}</td>
            <td>{{p.passenger.userAccount.contactNo}}</td>
            <td>{{p.passenger.userAccount.email}}</td>
          </tr>
          </tbody>
        </table>

        <h1 *ngIf="viewI==true"> Item Details</h1>
        <table *ngIf="viewI==true" class="table table-striped" style="margin-top: 20px" >
          <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Item ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let I of passenger.itemItemApplicationDTOS; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{I.item.itemID}}</td>
            <td>{{I.item.itemName}}</td>
            <td>{{I.item.qty}}</td>
          </tr>
          </tbody>
        </table>

        <h1> Driver Details</h1>
        <table class="table table-striped" style="margin-top: 20px">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Driver Employee ID</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Driver Liscence ID</th>
            <th scope="col">Driver Contact Number</th>
            <th scope="col">Driver Email</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{passenger.driveremployeeID}}</td>
            <td>{{passenger.drivername}}</td>
            <td>{{passenger.lisenseID}}</td>
            <td>{{passenger.drivercontactNo}}</td>
            <td>{{passenger.driveremail}}</td>
          </tr>
          </tbody>
        </table>
        <h1> Vehicle Details</h1>
        <table class="table table-striped" style="margin-top: 20px">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vehicle Id</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Model</th>
            <th scope="col">No of Seats</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{passenger.vehicleId}}</td>
            <td>{{passenger.BookedVehicleType}}</td>
            <td>{{passenger.model}}</td>
            <td>{{passenger.noOfSeats}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


