<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="display: flex;justify-content: center" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Create User Account</span>
    <button type="button" class="btn btn-outline-dark" style="font-weight: bold;margin-left: 20px"
            (click)="demoForm()">Demo Form
    </button>
  </div>

  <form #createUserAccountForm="ngForm" (ngSubmit)="createUserAccountForm.form.valid && onSubmit()" novalidate>

    <div style="display: flex;margin-top: 50px">
      <div style="width: 50%;padding-right: 20px">

        <div class="row">
          <div class="col-4">
            User Account Type :
          </div>
          <div class="col-8">
            <select name="accountType" class="form-control" [(ngModel)]="userAccount.accountType">
              <option value="">Select type</option>
              <option *ngFor="let type of accountTypes" [value]="type">
                {{type}}
              </option>
            </select>
            <p> {{selected}}</p>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Employee ID :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.employeeID"
                   #employeeID="ngModel"
                   name="employeeID" required appEmployeeIdValidator
                   placeholder="Eg: [ 12345 ]">
            <div *ngIf="(employeeID.touched || createUserAccountForm.submitted) && employeeID.errors?.required"
                 class="validErr">
              Employee ID is required
            </div>
            <div *ngIf="(employeeID.dirty) && employeeID.errors?.employeeIdInvalid"
                 class="validErr">
              Invalid Employee ID
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Name :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.name"
                   #name="ngModel"
                   name="name" required appTextValidator="">
            <div *ngIf="(name.touched || createUserAccountForm.submitted) && name.errors?.required"
                 class="validErr">
              Name is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Name With Initials :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.nameWithInitials"
                   #nameWithInitials="ngModel"
                   name="nameWithInitials" required appTextValidator>
            <div
              *ngIf="(nameWithInitials.touched || createUserAccountForm.submitted) && nameWithInitials.errors?.required"
              class="validErr">
              Name With Initials is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            NIC :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.nic"
                   #nic="ngModel"
                   name="nic" required appNicValidator>
            <div *ngIf="(nic.touched || createUserAccountForm.submitted) && nic.errors?.required"
                 class="validErr">
              NIC is required
            </div>
            <div *ngIf="(nic.dirty) && nic.errors?.nicInvalid"
                 class="validErr">
              Invalid NIC
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Date of Birth :
          </div>
          <div class="col-8">
            <input type="date" class="form-control"
                   [(ngModel)]="userAccount.dob"
                   #dob="ngModel"
                   max="{{getMaxDate()}}"
                   name="dob" required>
            <div *ngIf="(dob.touched || createUserAccountForm.submitted) && dob.errors?.required"
                 class="validErr">
              Date of birth is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Contact Number :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.contactNo"
                   #contactNo="ngModel"
                   name="contactNo" required appTelephoneValidator>
            <div *ngIf="(contactNo.touched || createUserAccountForm.submitted) && contactNo.errors?.required"
                 class="validErr">
              Contact Number is required
            </div>
            <div *ngIf="(contactNo.dirty) && contactNo.errors?.telephoneInvalid"
                 class="validErr">
              Invalid Contact Number
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Address :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.address"
                   #address="ngModel"
                   name="address" required>
            <div *ngIf="(address.touched || createUserAccountForm.submitted) && address.errors?.required"
                 class="validErr">
              Address is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Email :
          </div>
          <div class="col-8">
            <input type="email" class="form-control"
                   [(ngModel)]="userAccount.email"
                   #email="ngModel"
                   name="email" required appEmailValidator>
            <div *ngIf="(email.touched || createUserAccountForm.submitted) && email.errors?.required"
                 class="validErr">
              Email is required
            </div>
            <div *ngIf="(email.dirty) && email.errors?.emailInvalid"
                 class="validErr">
              Invalid Email
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Registered Date :
          </div>
          <div class="col-8">
            <input type="date" class="form-control"
                   [(ngModel)]="userAccount.registeredDate"
                   #registeredDate="ngModel"
                   max="{{getMaxDate()}}"
                   name="registeredDate" required>
            <div *ngIf="(registeredDate.touched || createUserAccountForm.submitted) && registeredDate.errors?.required"
                 class="validErr">
              Registered Date is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Password :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="userAccount.password"
                   #password="ngModel"
                   name="password" required>
            <div *ngIf="(password.touched || createUserAccountForm.submitted) && password.errors?.required"
                 class="validErr">
              Password is required
            </div>
          </div>
        </div>

        <br>

        <div class=""
             style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
          <div class="col-12" style="text-align: right">
            <button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Create Account
            </button>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

