<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="display: flex;justify-content: center">
  <div class="col-12">
    <span style="font-size: 25px;font-weight: bold;color: #5d5b5a">Create New Request</span>
  </div>

  <form #applicationStatus="ngForm"  (ngSubmit)="applicationStatus.form.valid && onSubmit()" novalidate >

    <div style="display: flex;margin-top: 50px">
      <div style="width: 50%;padding-right: 20px">

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Destination :
          </div>
          <div class="col-8">
            <input type="text" class="form-control"
                   [(ngModel)]="passengerpassengerApp.destination"
                   #destination="ngModel"
                   name="deliveryPassengerNic" required>
            <div *ngIf="(destination.touched || applicationStatus.submitted) && destination.errors?.required"
                 class="validErr">
              Destination is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Departure Date :
          </div>
          <div class="col-8">
            <input type="datetime-local" class="form-control"
                   [(ngModel)]="passengerpassengerApp.depatureDate"
                   #depatureDate="ngModel"
                   (change)="checkDate()"
                   min="{{getMinDate()}}"
                   name="deliveryDate" required>
            <div *ngIf="(depatureDate.touched || applicationStatus.submitted) && depatureDate.errors?.required"
                 class="validErr">
              Departure Date is required
            </div>
            <div *ngIf="(this.dep==1)"
                 class="validErr" style="color:red">
              Departure Date must be less than Arrival date
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Arrival Date :
          </div>
          <div class="col-8">
            <input type="datetime-local" class="form-control"
                   [(ngModel)]="passengerpassengerApp.arrivaleDate"
                   #arrivaleDate="ngModel"
                   (change)="checkDate()"
                   min="{{getMinDate()}}"
                   name="deliveryDate1" required>
            <div *ngIf="(arrivaleDate.touched || applicationStatus.submitted) && arrivaleDate.errors?.required"
                 class="validErr">
              Arrival Date is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Vehicle Type :
          </div>
          <div class="col-8">

            <select name="" id="car" class="form-control" [(ngModel)]="passengerpassengerApp.vehicleType"
                    #placeFrom="ngModel"
                    name="placeFrom" required>
              <option value="Three wheel">Three wheel</option>
              <option value="Van">Van</option>
              <option value="Car">Car</option>
              <option value="Bus">Bus</option>
              <option value="Bus">Lorry</option>
            </select>
            <div *ngIf="(placeFrom.touched || applicationStatus.submitted) && placeFrom.errors?.required"
                 class="validErr">
              Vehicle type is required
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            Reason :
          </div>
          <div class="col-8">
            <input type="" class="form-control"
                   [(ngModel)]="passengerpassengerApp.reason"
                   #reason="ngModel"
                   name="companyName" required>
            <div *ngIf="(reason.touched || applicationStatus.submitted) && reason.errors?.required"
                 class="validErr">
              Reason is required
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            <div class="col-8">

        <button type="button" class="btn btn-success" style="font-weight: bold;font-size: 20px;margin-right: 30px; background-color:#0c95cb " (click)="demo()">Demo</button>
          </div>
        </div>
        </div>

      </div>


      <div style="width: 50%;padding-left: 20px;border-left: 1px solid #dfcda0">

        <form #passengerForm="ngForm" (ngSubmit)="passengerForm.form.valid && onSubmitPassenger()" novalidate>
          <legend>Add Passengers:
            <div style="border-top: 1px solid #dfcda0;display: flex;margin-bottom: 10px;padding-top: 20px">



                <div class="col-4" style="padding-right: 50px">
                  Employee ID :
                </div>
                <div class="col-7" >
                  <input type="text" class="form-control"
                         [(ngModel)]="Pass.passenger.passengerId"
                         #passengerId="ngModel"
                         (keyup)="chkPassengerId()"
                         name="passengerType" required>
                  <div *ngIf="(errorP==1)"
                       class="validErr" style="color:red">
                    Passenger ID is Not Found
                  </div>
                  <div *ngIf="(passengerId.touched || passengerForm.submitted) && passengerId.errors?.required"
                       class="validErr">
                    Passenger Id is required
                  </div>
                  <div *ngIf="(errorP==0)"
                       class="validErr" style="color:green">
                    Passenger ID Found
                  </div>
                  <div *ngIf="(flag==0)"
                       class="validErr">
                    Passenger Id is duplicated
                  </div>
                </div>

                <div class="col-1" >
                  <button  style=" background-color: Transparent;background-repeat:no-repeat;border: none; cursor:pointer;overflow: hidden;" >
                    <i class="fas fa-plus-circle"  style="font-size: 30px"  ></i>
                  </button>
                  <div class="col-8" style="padding-top: 10px " >
                    <button type="button" (click)="createAccount()"  style="font-weight: bold;background-color: Transparent;border: none; margin-right: 20px"><i class="fas fa-user-plus"></i>
                      <br/>
                      <label style="font-size: 10px; color: blue"><u>New Account</u></label>
                    </button>
                  </div>
                </div>
                <div class="col-9" style="padding-right: 50px; padding-top: 10px ">
                </div>
              </div>


          </legend>

        </form>

      </div>
    </div>

    <div style="border-top: 1px solid #dfcda0;display: flex;margin-top: 20px;padding-top: 20px">
      <div style="width: 100%">

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" width="3%">#</th>
            <th scope="col">Passsenger ID</th>
            <th scope="col">Passsenger Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col" width="5%" style="text-align: center">Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let Pass of ViewPassenger; let j = index">
            <th scope="row">{{j+1}}</th>
            <td>{{Pass.userAccount.employeeID}}</td>
            <td>{{Pass.userAccount.name}}</td>
            <td>{{Pass.userAccount.contactNo}}</td>
            <td style="text-align: center" (click)="passengerpassengerApp.passengerApplication.passengerPassengerApplications.splice(j, 1);ViewPassenger.splice(j, 1)">
              <i class="fas fa-times" style="color: red;font-size: 20px"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="ViewPassenger.length===0" class="validErr"
             style="text-align: center;font-size: 20px">
          No passengers available
        </div>
      </div>
    </div>

    <div class=""
         style="border-top: 0px solid #dfdfdf;display: flex;margin-top: 20px;padding-top: 20px;margin-bottom: 40px">
      <div class="col-12" style="text-align: right">
        <button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 20px">Submit</button>
      </div>
    </div>
  </form>
</div>
