
<div style="margin-right:50%; margin-left: 5%">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Notification</th>

  </thead>
  <tbody>
  <tr>
    <td>
      <div class="alert alert-danger" role="alert" aria-live="assertive" aria-atomic="true" style="margin-right:5%; margin-left: 5%">
        <i class="fas fa-times" style="color: red;font-size: 20px; padding-left: 10px; float: right"></i>
        <small class="" style="float: right; padding-left: 10px" >11 mins ago</small>
        <div class="toast-header" >
          <div style="float: right">
            <strong >Toast</strong>
          </div>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
          <div style="float: right">
            <a  href="#" class="alert-link">view</a>
          </div>
        </div>
      </div>

    </td>
  <tr>
  <tr>
    <td>
      <div class="alert alert-primary" role="alert" aria-live="assertive" aria-atomic="true" style="margin-right:5%; margin-left: 5%">
        <i class="fas fa-times" style="color: red;font-size: 20px; padding-left: 10px; float: right"></i>
        <small class="" style="float: right; padding-left: 10px" >11 mins ago</small>
        <div class="toast-header" >
          <div style="float: right">
            <strong >Toast</strong>
          </div>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
          <div style="float: right">
            <a  href="#" class="alert-link">view</a>
          </div>
        </div>
      </div>

    </td>
  <tr>
  <tr>
    <td>
      <div class="alert alert-primary" role="alert" aria-live="assertive" aria-atomic="true" style="margin-right:5%; margin-left: 5%">
        <i class="fas fa-times" style="color: red;font-size: 20px; padding-left: 10px; float: right"></i>
        <small class="" style="float: right; padding-left: 10px" >11 mins ago</small>
        <div class="toast-header" >
          <div style="float: right">
            <strong >Toast</strong>
          </div>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
          <div style="float: right">
            <a  href="#" class="alert-link">view</a>
          </div>
        </div>
      </div>

    </td>
  <tr>
  <tr>
    <td>
      <div class="alert alert-secondary" role="alert" aria-live="assertive" aria-atomic="true" style="margin-right:5%; margin-left: 5%">
        <i class="fas fa-times" style="color: red;font-size: 20px; padding-left: 10px; float: right"></i>
        <small class="" style="float: right; padding-left: 10px" >11 mins ago</small>
        <div class="toast-header" >
          <div style="float: right">
            <strong >Toast</strong>
          </div>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
          <div style="float: right">
            <a  href="#" class="alert-link">view</a>
          </div>
        </div>
      </div>

    </td>
  </tr>

  </tbody>
</table>
</div>

