div > div {
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #757271;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

div > div:first-child {
  border-top: 1px solid #a0a0a0;

}
