<div class="row">
  <div id="navHeader" class="col-12">
    <div class="row" style="padding: 10px;">
      <div class="col-12">
        <div class="row">
          <div class="col-10" style="color: #e0ddd8">
            <div style="font-weight: bold">Contact Us</div>
            <div style="margin-left: 40px;font-size: 13px">
              <div style="margin-top: 10px">
                Address&nbsp;&nbsp;|&nbsp;&nbsp;No:123, Abc Road, Colombo
              </div>
              <div style="margin-top: 10px">
                Email Address&nbsp;&nbsp;|&nbsp;&nbsp;abc@gmail.com
              </div>
              <div style="margin-top: 10px">
                Telephone&nbsp;&nbsp;|&nbsp;&nbsp;011-1234567
              </div>
            </div>
          </div>
          <div class="col-2">
            <div style="font-weight: bold">Join Us</div>
            <div style="margin-left: 40px;margin-top: 10px;font-size: 14px">
              Share your feedback
              <br>
              <i class="fab fa-facebook-square" style="font-size: 30px;margin-top: 10px"></i>
              <i class="fab fa-instagram-square" style="font-size: 30px;margin-top: 10px;margin-left: 10px"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
